.body_input {
    position: relative;
}
.input_image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: block;
    cursor: pointer;
}

.input_image.visible{
    display: block;
}