.input {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px 15px;
    @apply placeholder:capitalize placeholder:text-[16px]
}


.input_image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: none;
    cursor: pointer;
}

.input:focus{
    border: 1px solid #46A358;
}

.input_focus{
    border: 1px solid #46A358;
}


.input_image_visible{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: block;
    cursor: pointer;
}

.body_input {
    position: relative;
}
